{
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    // "plugin:import/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // "no-console": "warn",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "prettier/prettier": "error",
    "react/prop-types": "off"
  }
}
