@import url('../../common/utils.less');
@import url("../../common/var.less");

.set-card-title {
    font-size: 2rem;
    font-weight: 300;
}

.clear-ul-mp { 
    .clear-m-p;
}
.bg-light {
   background-color: @light-color !important;
}

.clear-card {
    .clear-border;
}

.repositoty-name {
    word-break: break-all;
    white-space: pre-wrap;
    color: @anchor-red-color-10;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover,
    &:visited,
    &:link,
    &:active {
        color: @anchor-red-color-10;
    }
}

.repositoty-subtext {
    font-size: 1.1rem;
    font-weight: 400;
}

.author-name {
    color: @anchor-black-color-10;
    font-weight: 500;

    &:hover,
    &:visited,
    &:link,
    &:active {
        color: @anchor-black-color-10;
    }
}